h1 {
	color: #523A78;
	font-size: 30px;
}

ol li {
	font-size: 15px;
}

li.active {
	background-color: #523A78;
}

div.row {
	margin: 0;
 }


div.jumbotron {
	background-color: #523A78;
	color: #fff;
}

.btn.btn-default:hover{
	color: #fff;
	background-color: #523A78;
	border-color: #523A78;
}



.pagination.pagination-buttons {
	li a {
		color: #523A78;
	}
	li a:hover {
		color: #fff;
		background-color: #523A78;
		border-color: #fff;
	}
}