table {
	thead {
		font-family: Tahoma, sans-serif;
		font-size: 1.2em;
		border-top:	1px solid #000;
	}

	tbody {
		border-bottom: 1px solid #000;
		}
} 

td {
	&.company {
		width: 20%;
	}
	&.job {
		width: 20%;
	}
	&.description {
		width: 60%;
	}
}

 